*{margin:0px;
	padding:0px;
	margin:0px; }
body{
	background-color:#2F4F4F;
	}
#tapiz{
	position: absolute;
	left: 10%;
	background:white;
	width:80%;
	height:150%;
	margin-bottom: 0px;
	}
#portada{
	height:32%;/*ALTURA DE LA PORTADA*/
	float:top;
	background-image:url("img/c.png");
    background-repeat: no-repeat;
    margin-bottom: none;
}
#menu {
	width:99%;
	height:67%;
	background:#D3D3D3;
}
#contenido{
	width: 30%;
	background-color:gray;
	height: 99.9%;
	border-right:1px solid white;
	float: left;}

#menu #contenido ul{
	list-style: :none;
	margin: 0;
	padding: 0;
}
#menu #contenido ul li a{
	text-decoration: none;
	font-family: "Arial white", Gadget, sans-serif;
	color: white;
	border: 1px solid white;
	border-right: none;
	padding: 20px;
	width: :25px;
	text-align: center;
	display: block;
	background:gray;
	border-radius: 10px 0px 0px 10px;
}
#menu #contenido ul li a:hover{
	background:orange;
	color: black;
	text-shadow:1px 1px 1px #000;
	}

#contenido ul li a#onelink {
	background: gray;
	color: white;
	border-right: 3px solid gray;
}
#caja1{
	width:69.9%;
	height:51.5%;
	float: right;
	background-color:white;
	padding-bottom: 2px;
	border-bottom: 1px solid gray;*/
	/*position:static;*/
}
/*form#datos{position:static;}*/
#caja2{
	width:69.9%;
	height:48%;
	float:right;
	display: none;
	border-top: 1px solid gray;
	background:white;
}

.texto{
	margin-left:60px;
	color:white;
	font:Verdana;
	font-size:15;
	line-height:40px;
}
.texto1{
	margin-left:60px;
	color:gray;
	font-family:Verdana;
	font-size:15;
	line-height:40px;
}

table.ventana{
	margin:auto;
	margin-top:10px;
	padding:10px;
	max-width: 60%;

}
table.flechas{
	margin:auto;
}
.boton_nuevo,.boton_editar,.boton_buscar,.boton_borrar,#Aceptar,#Cancelar{
	width:150px;
	height:30px;
	margin:5px;
}
.boton1{

	width:30px;
	height:30px;
	border-radius: 10px 10px 10px 10px;
}
.boton2{
	float:right;
	width:100px;
	height:30px;
	margin:5px;
}
input.caja{
	width:200px;
	height:30px;
	border-radius: 5px 5px 5px 5px;
	margin:5px;
}
select{
	width:200px;
	height:30px;
	border-radius: 5px 5px 5px 5px;
	margin:5px;
}
.same{
	margin:3px;
	/*background:black;
	border-style:dashed;
	border-color:white;*/
	border-radius:2px;
	
	}
li{list-style: none;}
#caja1 ul li a{
	text-decoration: none;
	float:left;
	background:white;
	margin-left:3px;
	padding: 5px;
	border-radius: 5px 5px 0px 0px;
	border: 1px solid gray;
	border-bottom: 1px solid white;
	font-family: "Arial white", Gadget, sans-serif;
}
#caja1 ul li a:hover{
	background:orange;
	color: black;
	text-shadow:1px 1px 1px #000;
	}
/*--------------------------------------------------*/
#navar{

	margin-top: 1px;
	width:99.9%;
	height:99%;

}
#holder1{
	background: white;
	height: 250px;
	margin:15px;
	/*border: 1px solid gray;*/
	border-radius: 15px 15px 15px 15px;
}
#navar #holder{
	height: 30px;
	border-bottom:  1px solid gray;
	padding-left: 1px;
	

}
#navar #holder ul{
	list-style: none;
	margin: 0;
	padding: 0;
}

#navar #holder ul li a{
	text-decoration: none;
	float: left;
	margin-right: 5px;
	font-family:verdana;
	color:gray;
	border: 1px solid #000;
	border-bottom: none;
	padding: 5px;
	width: 90px;
	text-align: center;
	display: block;
	background: #69f;
	border-radius: 15px 15px 0px 0px;
}
#navar #holder ul li a:hover{
	background: orange;
	color: #fff;
	text-shadow:1px 1px 1px #fff;
}
.estudiante{
	border:1px solid black;
	height: 100px;
	width: 200px;

}